:root {
  --vermelho: #E50914;
  --preto: #141414;
  --semi_transparente: rgba(0,0,0,.50);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/*Elementos base*/

body {
  background-color: var(--preto);
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

div {
  display: block;
}

.wrapper {
  margin: 0 10px;
}

.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper h2 {
  font-size: 40px;
  font-family: 'Arial Black', Times;
  color: var(--vermelho);
}

.menu a {
  text-decoration: none;
  color: #aaa;
  background-color: var(--preto);
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 3%;
  transition: 0.5s;
}

.menu a:hover {
  padding: 5px 15px;
  background-color: var(--vermelho);
  color: white;
  transition: 0.5s;
  margin: 0 10px;
}

/*Filme principal*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/the_blacklist_bg.jpg");
  height: 400px;
  background-size: cover;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descricao {
  margin-top: 30px;
  margin-bottom: 80px;
}

.botao {
  background-color: var(--semi_transparente);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.botao:nth-child(1):hover {
  background-color: var(--vermelho);
  padding: 15px 32px;
  margin-right: 11px;
}

.botao:nth-child(2):hover {
  background: lightgray;
  padding: 15px 32px;
  color: black;
}

.botao i {
  margin-right: 8px;
}


.carrossel {
  margin: 15px 10px;
}

.carrossel h2 {
  margin-bottom: 5px;
}

.item img {
  height: 100%;
  width: 100%;
  display: block;
}